Database/
TestFunctions/
Application/database/
Application/uploads/
Application/static/
Application/templates/logfiles/
Application/tleap.in
Application/timer.dat
Application/leap.log
BuildAllDockers.sh
JunkDir/