<!doctype html>
<title>WalkerLabs Parameter Library</title>
{% include '__main_page_style.html' %}
<head>
  <style>    
  .grid-container {
      display: grid;
      grid-template-columns: 24% 24% 24% 24%;
      background-color: #1D1E28;
      padding: 5px;
    }
    .grid-item {
      background-color: #1D1E28;
      /* border: 0px solid #78E2A0; */
      padding: 10px;
    }
  </style>
</head>

<h1 style="text-align: center;">WalkerLabs Parameter Library</h1>
<p style="border-width:3px; border-style:solid; border-color:#78E2A0; padding: 1em;">
    <span style="
      display:inline-block;
      white-space: wrap;
      overflow-wrap: break-word;">
    This page serves as a handy repository of parameters
    for nonstandard molecules to be used in classical molecular
    dynamics simulations.<br><br>
    For each parameter set, the relevant source or citation
    will be included.  Many of the parameters here were generated
    using the WalkerLabs Automated Parameter Builder.
    </span>
  </p>

<div class="grid-container">

{% include '__db_dataset.html' %}
</div>
