<!doctype html>
<title>WalkerLabs Parameter Library</title>
{% include '__main_page_style.html' %}

<h1>WalkerLabs Parameter Library</h1>
<p style="border-width:3px; border-style:solid; border-color:#78E2A0; padding: 1em;">
    <span style="
      display:inline-block;
      white-space: wrap;
      overflow-wrap: break-word;">
    This page serves as a handy repository of parameters
    for nonstandard molecules to be used in classical molecular
    dynamics simulations.<br><br>
    For each parameter set, the relevant source or citation
    will be included.  Many of the parameters here were generated
    using the WalkerLabs Automated Parameter Builder.
    </span>
  </p>


<!--
    Below here, we need a table that populates with the complete database
    It should have:
        2D ChemDraw structure
        Mol2 file download link
        Frcmod file download link
-->
{% include '__db_dataset.html' %}