<!doctype html>
<title>WalkerLabs Automated Parameter Builder</title>
{% include '__main_page_style.html' %}

<!-- Walker Research Peptide Logo -->
<div style="text-align: center;">
  <img src="{{url_for('static',filename='WalkerResearchPeptideLogo.png')}}" 
  alt="Walker Research Peptide Logo" 
  class="center" 
  width="500px"> 
</div>
  
<h1 style="text-align: center;">WalkerLabs Automated Parameter Builder</h1>

<p style="border-width:3px; border-style:solid; border-color:#78E2A0; padding: 1em;">
  <span style="
    display:inline-block;
    white-space: wrap;
    overflow-wrap: break-word;
    max-width: 70ch;">
  This online tool is designed to generate custom parameters for nonstandard molecules to be used in classical molecular dynamics simulations.
  </span>
</p>

<form method=post enctype=multipart/form-data>
<fieldset style="border-width:3px; border-style:solid; border-color:#78E2A0; padding: 1em;">
<legend>PDB Structure Information</legend>
  <!-- label for="var1" is the same as input id="var1", and flask's request.files['var2'] is input name='var2' -->
    <div>
    <label for="PDBid" style="width:200px">Upload PDB </label>
    <input type="file" id="PDBid" name="PDBfile" accept=".pdb" required style="width:300px">
    </div>
    <br>
    <div>
    <input type="number" id="charge" name="charge" value=0 required size="10" style="width:100px">
    <label for="charge" style="width:200px">Charge </label>
    </div>
    <div>
    <input type="number" id="spin" name="spin" value=1 required size="10" style="width:100px">
    <label for="spin" style="width:200px">Multiplicity</label>
    </div>
    <br>
    <div>
      <legend>Molecule Type:</legend>
    <div>
      <input type="radio" id="RNA" name="moltype" value="RNA"
              checked>
      <label for="RNA">RNA (OL3)</label>
    </div>
    <div>
      <input type="radio" id="DNA" name="moltype" value="DNA">
      <label for="DNA">DNA (OL15)</label>
    </div>
    <div>
      <input type="radio" id="Protein" name="moltype" value="Protein">
      <label for="Protein">Protein (ff14SB)</label>
    </div>
    <div>
      <input type="radio" id="Carbohydrate" name="moltype" value="Carbohydrate">
      <label for="Carbohydrate">Carbohydrate (GLYCAM_06)</label>
    </div>
  </div>
  <br>
  <div>
    <input type="text" id="headconnect" name="headconnect" value="NONE" size="10" style="width:100px">
    <label for="headconnect" style="width:200px">Head Connect Atom Name:  Unique atom identifier connecting 
      this molecule to the previous one in a polymer such as a protein or nucleic acid sequence.</label>
  </div>
  <div>
    <input type="text" id="tailconnect" name="tailconnect" value="NONE" size="10" style="width:100px">
    <label for="tailconnect" style="width:200px">Tail Connect Atom Name:  Unique atom identifier connecting 
      this molecule to the next one in a polymer such as a protein or nucleic acid sequence.</label>
  </div>
  
</fieldset>

<fieldset style="border-width:3px; border-style:solid; border-color:#78E2A0; padding: 1em;">
  <input type="checkbox" id="OverrideDB" name="override_db">
  <label for="OverrideDB"><b>Override Database Check:</b>  Normally, submitted structures are checked 
    against the database before running optimizations and parametrizations. If you wish to override 
    this check and force a new calculation, check this box.</label>
</fieldset>

<!-- OPTIMIZATION SETTINGS -->
{% include '__upload_optimization_settings.html' %}

<!-- SUBMIT JOB BUTTON -->
<input type="submit" value="Generate Parameters">  All submitted jobs will be cleared from the cache after 7 days, and only databased files will remain.
</form>